<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RApID_Project_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RApID_Project_WPF.Properties.Settings.RepairConnectionString" connectionString="Data Source=eudb01;Initial Catalog=Repair;Persist Security Info=True;User ID=inhouse;Password=Password1" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <RApID_Project_WPF.Properties.Settings>
            <setting name="MaxSonarBeams" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SPPortName" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="SPBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="SPParity" serializeAs="String">
                <value>Even</value>
            </setting>
            <setting name="SPDataBit" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="SPStopBit" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="LogWriteLocation" serializeAs="String">
                <value>\\joi\eu\Public\EE Process Test\Logs\RApID\</value>
            </setting>
            <setting name="PrinterToUse" serializeAs="String">
                <value>\\eufs04\EU_B3_Repair label printer</value>
            </setting>
            <setting name="PrinterXOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrinterYOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrinterInitSetup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccessDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultReportManagerLink" serializeAs="String">
                <value>http://eudb01/Reports/Pages/Folder.aspx?ItemPath=%2fRApID+(Repair+Database)&amp;ViewMode=List</value>
            </setting>
        </RApID_Project_WPF.Properties.Settings>
    </userSettings>
</configuration>
